{:deps {ring/ring-jetty-adapter {:mvn/version "1.9.4"}
        buddy/buddy-core {:mvn/version "1.7.1"}
        metosin/reitit {:mvn/version "0.5.9"}
        metosin/muuntaja {:mvn/version "0.6.7"}}}

